.message {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}

.input-container {
    /* display: flex; */
    align-items: center;
    padding: 10px;
    /* background-color: #f5f5f5; */
  }